@font-face {
    font-family: 'ninja';
    src: url('./assessts/njnaruto.ttf');
}

*{
    font-family: 'ninja',sans-serif ;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-image: url(./assessts/anime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 57vh;
    justify-content: start;
    gap: 70px;
}

#title,#score,#instructions{
    font-size:x-large;
    word-spacing: 9px;
    color: beige;
}

#instructions{
    color: rgb(0, 0, 0);
    visibility:visible;
}

#instructions {
    max-width: 100%; 
    background-color: white;
    opacity: 0.3;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

#instructions ol {
    list-style-type: decimal;
    padding-left: 20px;
}

img{
    height: 300px;
    width: 250px;
}

#game{
    display: flex;
    justify-content: space-between;
}

@keyframes jump{
    0% {
        transform: translateY(0) translateX(0);
    }
    30% {
        transform: translateY(-75%) translateX(18%);
    }
    50% {
        transform: translateY(-125%) translateX(36%);
    }
    70% {
        transform: translateY(-75%) translateX(54%);
    }
    85% {
        transform: translateY(0) translateX(72%);
    }
    100% {
        transform: translateY(0) translateX(90%);
    }
}

.animate{
    animation: jump 1250ms linear;
}

@keyframes block{
    0%{transform: translateX(0vw);} 
    100%{transform: translateX(-100vw);}
}

.block{
    animation: block 3s infinite linear;
}

@media screen and (max-width: 768px) {
    body{
        background-image: url(./assessts/mob.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    #content {
        height: 82vh;
        text-align: center;
    }
    
    #game {
        position: relative;
    }
    
    #game img {
        height: 150px;
        width: 125px;
    }
    
    #game img:nth-child(2) {
        display: none;
    }
}